@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Frank's Movie Database (FMDb)</h1>
    <p>Click on "Movie Search" at the top of the page to search for a movie 
        or "Movie Night" to search for three movies.</p>
</div>
